name: CI/CD Testing automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content
    
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.0' # install the python version needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt
      - name: Test with pytest
        run: pytest